@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h2>Introduction</h2>
<p>
    Welcome to Excision, the ultimate destination for trading card enthusiasts and collectors! #1 in trading card libraries.
</p>
<h2>Our Team</h2>
<ul>
    <li>
        <strong>Andrew Asplund</strong>
        <p>About Me: (Add a brief description)</p>
        <p>Favorite Pokémon: (Add favorite Pokémon here)</p>
    </li>
    <li>
        <strong>Eduardo Sousa Silva</strong>
        <p>About Me: (Add a brief description)</p>
        <p>Favorite Pokémon: (Add favorite Pokémon here)</p>
    </li>
    <li>
        <strong>Emily Bazar</strong>
        <p>About Me: (Add a brief description)</p>
        <p>Favorite Pokémon: (Add favorite Pokémon here)</p>
    </li>
    <li>
        <strong>Padmaja Buggaveeti</strong>
        <p>About Me: (Add a brief description)</p>
        <p>Favorite Pokémon: (Add favorite Pokémon here) </p>
    </li>
</ul>
<h2>Mission and Vision</h2>
<!-- Add description. Temporary text for now. Source of Pokem Ipsum https://pokemipsum.com/ -->
<p>
    Pokem ipsum dolor sit amet Poison a wild Pokemon appeared Maractus Tauros Psyduck Dragonair.
    Mirror Move Hive Badge Lanturn Herdier Tirtouga Porygon2 Pokemon 4Ever. Johto Probopass Shiftry
    Mesprit Junichi Masuda Elite Four Delcatty. Hive Badge MysteryBerry Lilligant Silcoon Lickitung
    Swampert Axew. Ground Corphish Bisharp Pokemon, it's you and me Eelektross Hydreigon Golurk.
    Team Rocket Spinda Krokorok Slowking surrender now or prepare to fight Pidove Trapinch.
    Poison Bonsly Ursaring Elekid Splash Prinplup Satoshi Tajiri. Thundershock Rare Candy Numel
    Chikorita Swift Articuno Gothitelle. Dig Relicanth Pokedex Blitzle Pansage Ponyta Venusaur.
    Bulbasaur Galvantula Skuntank Ninjask Teleport Whimsicott Kirlia.
    Dark Garbodor Petilil Rapidash Koffing Primeape et dolore magna aliqua.
    Brock Bellossom Foongus Silcoon Spoink Ferroseed Soul Badge.
    Fire Seismitoad in a world we must defend you teach me and I'll teach you Cranidos Fog Badge
    Musharna. Meowth, that's right Igglybuff Poke Flute Cottonee Bronzong Sonic Boom Slaking.
    Normal Manectric Swablu Misdreavus Palpitoad Caterpie Lavender Town.
    Gotta catch 'em all Shellder Ghost Rotom Drifloon Sawk Spinda.
    Rock Mienfoo Meganium Rotom Sinnoh Aggron you're not wearing shorts.
    V for victory Simisear Ivysaur Chandelure Zubat Vaporeon Raticate.
    Marsh Badge Tangela Houndour Vileplume Aipom Larvitar Boulder Badge.
    Body Slam Politoed Minccino Jigglypuff Vespiquen Purrloin Burnt Berry.
    Rage Duosion quis nostrud exercitation Torterra Meloetta Hydreigon Badge.
    Ut enim ad minim veniam Grovyle Slash Weavile Shiftry Roserade Parasect.
    Hoenn Poison Sting Absol Poliwag Bonsly Sealeo Yamask.
    Splash Oshawott Zigzagoon Red Shaymin duis aute irure dolor in reprehenderit Spearow.
    Fighting Tail Whip Jolteon Gliscor Happiny Magnezone Volcarona.
</p>