@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<div class="d-flex flex-column justify-content-center align-items-center bg-blur">
    <h1 class="page-title">@ViewData["Title"]</h1>

    <!-- plays ItemFound audio clip when About Us page loads -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var audio = new Audio('/audio/ItemFound.mp3'); 
            audio.play();
        });
    </script>

    <h2>Introduction</h2>
    <p>
        Welcome to Excision, the ultimate destination for trading card enthusiasts and collectors! #1 in trading card libraries.
    </p>
    <h2>Our Team</h2>
    <ul>
        <li>
            <strong>Andrew Asplund</strong>
            <p>Master's in Computer Science student at Seattle University</p>
        </li>
        <li>
            <strong>Eduardo Sousa Silva</strong>
            <p>Master's in Computer Science student at Seattle University</p>
        </li>
        <li>
            <strong>Emily Bazar</strong>
            <p>Master's in Computer Science student at Seattle University</p>
        </li>
        <li>
            <strong>Padmaja Buggaveeti</strong>
            <p>Master's in Computer Science student at Seattle University</p>
        </li>
    </ul>
    <h2>Mission and Vision</h2>
    <p>
        We are a team of Computer Science Master's students at Seattle University, dedicated to creating the ultimate Pokémon card library. 
        Our project involves practicing Agile, Scrumban, EST operations, CRUD operations, and basic web services using HTML, ASP.NET, and Azure. 
        We are committed to delivering a seamless and enjoyable experience for Pokémon enthusiasts and collectors worldwide.
    </p>
</div>
