@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<div class="d-flex flex-column justify-content-center align-items-center bg-blur">
    <h1 class="page-title">@ViewData["Title"]</h1>

    <!-- plays ItemFound audio clip when About Us page loads -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var audio = new Audio('/audio/ItemFound.mp3'); 
            audio.play();
        });
    </script>


	<section class="py-5">
		<div class="container">
			<div class="row gx-4 align-items-center justify-content-between">
				<div class="col-md-5 order-2 order-md-1">
					<div class="mt-5 mt-md-0">
						<span class="text-muted">Our Story</span>
						<h2 class="display-5 fw-bold">About Us</h2>
						<p class="lead">Welcome to Excision, the ultimate destination for trading card enthusiasts and collectors! #1 in trading card libraries.</p>
					</div>
				</div>
				<div class="col-md-6 offset-md-1 order-1 order-md-2">
					<div class="row gx-2 gx-lg-3">
						<div class="col-6">
							<div class="mb-2"><img class="img-fluid rounded-3" src="~/images/andrew.png"></div>
							<p class="text-center">Master's in Computer Science student at Seattle University</p>
						</div>
						<div class="col-6">
							<div class="mb-2"><img class="img-fluid rounded-3" src="~/images/emily.png"></div>
							<p class="text-center">Master's in Computer Science student at Seattle University</p>
						</div>
						<div class="col-6">
							<div class="mb-2"><img class="img-fluid rounded-3" src="~/images/padmaja.png"></div>
							<p class="text-center">Master's in Computer Science student at Seattle University</p>
						</div>
						<div class="col-6">
							<div class="mb-2"><img class="img-fluid rounded-3" src="~/images/andrew.png"></div>
							<p class="text-center">Master's in Computer Science student at Seattle University</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
