@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<div class="d-flex flex-column justify-content-center align-items-center bg-blur">
    <h1 class="page-title">@ViewData["Title"]</h1>

    <!-- plays ItemFound audio clip when About Us page loads -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var audio = new Audio('/audio/ItemFound.mp3'); 
            audio.play();
        });
    </script>

<section class="py-5">
	<div class="container">
		<div class="row gx-4 align-items-center justify-content-between">
			<div class="col-md-5 order-2 order-md-1">
				<div class="mt-5 mt-md-0">
					<span class="text-muted">Our Story</span>
					<h2 class="display-5 fw-bold">About Us</h2>
					<p class="lead">Welcome to Excision, the ultimate destination for trading card enthusiasts and collectors! #1 in trading card libraries.</p>
				</div>
			</div>
			<div class="col-md-6 offset-md-1 order-1 order-md-2">
				<div class="row gx-2 gx-lg-3">
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="~/images/andrew.png"></div>
						<p class="text-center">Master's in Computer Science student at Seattle University</p>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="~/images/emily.png"></div>
						<p class="text-center">Master's in Computer Science student at Seattle University</p>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="~/images/padmaja.png"></div>
						<p class="text-center">Master's in Computer Science student at Seattle University</p>
					</div>
					<div class="col-6">
						<div class="mb-2"><img class="img-fluid rounded-3" src="~/images/andrew.png"></div>
						<p class="text-center">Master's in Computer Science student at Seattle University</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="col-md-5">
    <div class="mt-5 mt-md-0">
        <span class="text-muted"></span>
        <h2 class="display-5 fw-bold">Our Team</h2>
        <p class="lead">
            We are a team of Computer Science Master's students at Seattle University, dedicated to creating the ultimate Pokémon card library.
        </p>
        <ul>
            <li>
                <strong>Andrew Asplund</strong>
                <p>Master's in Computer Science student at Seattle University</p>
            </li>
            <li>
                <strong>Eduardo Sousa Silva</strong>
                <p>Master's in Computer Science student at Seattle University</p>
            </li>
            <li>
                <strong>Emily Bazar</strong>
                <p>Master's in Computer Science student at Seattle University</p>
            </li>
            <li>
                <strong>Padmaja Buggaveeti</strong>
                <p>Master's in Computer Science student at Seattle University</p>
            </li>
        </ul>
    </div>
</div>
