@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center poketitle">Uh Oh!</h1>

<p class="h1">@Model.ErrorMessage</p>

<p> If you believe you reached this page in error, please contact the webmaster.</p>

@if (Model.ShowRequestId)
{
    <p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}
