@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Uh Oh!</h1>
<h2 class="text-danger">You tried soemthing we didn't think of!</h2>

@if (Model.IsErrorCodeAvailable)
{
    <p>
    <strong>Error Code:</strong> <code>@Model.ErrorCode</code>
</p>
}

@if (Model.ShowRequestId)
{
    <p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}
