@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p> 
    At Excision, we prioritize your privacy! Rest assured, we do not gather any user information.
    Our trading card library is exclusively designed for learning purposes for the Master's in Computer Science program at Seattle University. 
    Explore our content with confidence, knowing that your privacy is protected :)
</p>
