@page
@model ContosoCrafts.WebSite.Pages.Update.UpdateModel

@{
    ViewData["Title"] = "Update";
}

<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>