@page
@model ContosoCrafts.WebSite.Pages.BattleResultModel
@{
    ViewData["Title"] = "Battle Result";
}

<div class="d-flex flex-column justify-content-center align-items-center bg-blur">
    <h1 class="page-title">@ViewData["Title"]</h1>

    <p>Congratulations! You won the battle!</p>

</div>