@page
@model ContosoCrafts.WebSite.Pages.BattleErrorModel
@{
    ViewData["Title"] = "Battle Failed";
}

<div class="d-flex flex-column justify-content-center align-items-center bg-blur">
    <h1 class="page-title">@ViewData["Title"]</h1>
    <p> Battle did not commence! Please select exactly five Pokemon to battle. </p>
</div>