@page
@model ContosoCrafts.WebSite.Pages.Battle.BattleResultModel
@{
    ViewData["Title"] = "Battle Result";
}

<div class="d-flex flex-column justify-content-center align-items-center bg-blur">
    <h1 class="page-title">@ViewData["Title"]</h1>

    @if (Model.BattleOutcomeMessage == "Congratulations! You won the battle!")
    {
        <p id="victory-message">Congratulations! You won the battle!</p>
    }
    else if (Model.BattleOutcomeMessage == "Sorry, you were utterly defeated.")
    {
        <p id="defeat-message">Sorry, you were utterly defeated.</p>
    }

    @section Scripts {
        <script src="~/js/site.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                playPokemonAudio();
            });
        </script>
    }
</div>