@page
@model ContosoCrafts.WebSite.Pages.Battle.BattleResultModel
@{
    ViewData["Title"] = "Battle Result";
}

<div class="d-flex flex-column justify-content-center align-items-center bg-blur">
    <h1 class="page-title">@ViewData["Title"]</h1>

    @if (!string.IsNullOrEmpty(Model.BattleOutcomeMessage))
    {
        <p>@Model.BattleOutcomeMessage</p>
    }
    else
    {
        <p>No Pokémon selected.</p>
    }
</div>