@page
@model ContosoCrafts.WebSite.Pages.Battle.BattleModel
@{
    ViewData["Title"] = "Battle";
}

<div class="d-flex flex-column justify-content-center align-items-center bg-blur">
    <h1 class="page-title">@ViewData["Title"]</h1>

    <form method="post">
        @foreach (var pokemonCard in Model.PokemonGeneralCards)
        {
            <div>
                <input type="checkbox" name="SelectedPokemon" value="@pokemonCard.Id" id="pokemon_@pokemonCard.Id" />
                <label for="pokemon_@pokemonCard.Id">@pokemonCard.Name</label>
            </div>
        }

        <button type="submit">Start Battle</button>
    </form>
</div>