<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Excision Trading Card Database</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-gradient mb-3 poketitle">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Excision</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item small">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item small">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Product/Index">Products</a>
                        </li>
                        <li class="nav-item small">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item small">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Battle">Battle</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted bg-footer">
        <div class="grass-background">
            <div class="walking-pokemon">
                @{
                    string[] runnerClass = { "red-trainer-running", "pikachu-running" };
                    Random rnd = new Random();
                    int index = (rnd.Next() % runnerClass.Length);
                }
                <div class="@runnerClass[index]"></div>
            </div>
            <div class="container">
                &copy; 2023 - Excision - <a asp-area="" asp-page="/Privacy">Privacy Policy</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
