:root {
    --walking-speed: 6s;

    @media (min-width: 960px) {
        --walking-speed: 9s;
    }

    @media (min-width: 1200px) {
        --walking-speed: 12s;
    }
}

/****** || Animation for Pikachu Running ******/

@keyframes pikachu-run {
    from {
        background-position: 0px;
    }

    to {
        background-position: -500px;
    }
}

.pikachu-running {
    background: url("/images/pikachu-sheet.webp");
    width: 125px;
    height: 100px;
    animation-name: pikachu-run;
    animation-duration: 500ms;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

/****** || Animation for Red Running ******/

@keyframes red-trainer-run {
    from {
        background-position: 0px;
    }

    to {
        background-position: -600px;
    }
}

.red-trainer-running {
    background: url("/images/red-trainer-sheet.webp");
    width: 100px;
    height: 120px;
    animation-name: red-trainer-run;
    animation-duration: 1000ms;
    animation-timing-function: steps(6);
    animation-iteration-count: infinite;
}


/****** || Animation for Walking Pokémon ******/

@keyframes walk {
    0% {
        left: -125px;
    }

    100% {
        left: 100%;
    }
}

.walking-pokemon {
    position: absolute;
    bottom: 0px;
    left: -100px;


    background-size: 100%;
    animation: walk var(--walking-speed) linear infinite;
}

/****** || Animation for Flying Pokémon ******/
@keyframes fly {
    0% {
        left: -125px;
    }

    100% {
        left: 100%;
    }
}

.flying-pokemon {
    position: absolute;
    bottom: 20px;
    left: -100px;


    background-size: 100%;
    animation: fly var(--walking-speed) linear infinite;
}