/*** Main coloring schemes ***/
:root {
    /* Light Mode Color Scheme */
    --color-text: black;
    --color-text-alt: white;
    --color-text-alt-shadow: black;
    --color-link: #0033FF;
    --color-bg: white;
    --color-card-bg: rgba(255, 255, 255, 0.5);
    --color-button-text: black;
    --color-button-bg: #ffde59;
    --color-button-bg-highlight: #ff9f10;

    /* Dark Mode Color Scheme */

    
    @media (prefers-color-scheme: dark) {
        --color-text: white;
        --color-text-alt: white;
        --color-text-alt-shadow: darkgray;
        --color-link: #00DDFF;
        --color-bg: rgba(0, 35, 90, 0.85);
        --color-card-bg: rgba(255, 255, 255, 0.2);
        --color-button-text: black;
        --color-button-bg: #ffde59;
        --color-button-bg-highlight: #ff9f10;

    }
    
}



/*** General Pokémon and Color Stylings ***/

:root {
    /* Pokémon type colors */
    --color-poketype-bug: #a8b820;
    --color-poketype-dark: #705848;
    --color-poketype-dragon: #7038f8;
    --color-poketype-electric: #f8d030;
    --color-poketype-fairy: #ee99ac;
    --color-poketype-fighting: #c03028;
    --color-poketype-fire: #f08030;
    --color-poketype-flying: #a890f0;
    --color-poketype-ghost: #705898;
    --color-poketype-grass: #78c850;
    --color-poketype-ground: #e0c068;
    --color-poketype-ice: #98d8d8;
    --color-poketype-normal: #a8a878;
    --color-poketype-poison: #a040a0;
    --color-poketype-psychic: #f85888;
    --color-poketype-rock: #b8a038;
    --color-poketype-steel: #b8b8d0;
    --color-poketype-water: #6890f0;

    /* Colors for gradient */
    --color-pikachu: #FFCB05;
    --color-charizard: #FF3B30;
    --color-squirtle: #0099E1;
    --color-bulbasaur: #77B85B;
    --color-jigglypuff: #FFA6C9;

}