@import url("./core-colors.css");
@import url("./animation.css");

/****** || General Style *******/

body {
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    color: var(--color-link);
}

a:hover {
    text-decoration: none;
}

.page-title {
    font-weight: bold;
    color: var(--color-text-alt);
    text-align: center;
    text-shadow: 0.1em 0.1em var(--color-text-alt-shadow);
    -webkit-text-stroke: .01em var(--color-text-alt-shadow);
}

/****** || Specific Font Selections ******/

.poketitle {
    font-family: 'Press Start 2P', sans-serif;
}

.fancyscript {
    font-family: 'Happy Monkey', cursive;
}

/****** || Body Background Style ******/

body {
    /* Margin bottom by footer height */
    background-image: url('/images/background-sky-light.webp');

    @media (prefers-color-scheme: dark) {
        background-image: url('/images/background-sky-dark.webp');
    }

    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bg-blur {
    backdrop-filter: blur(10px);
}

/****** || Button Style ******/

.btn-primary {
    color: var(--color-button-text);
    background-color: var(--color-button-bg);
    border-color: var(--color-button-bg);

}

.btn-primary:hover {
    color: var(--color-button-text);
    background-color: var(--color-button-bg-highlight);
    border-color: var(--color-button-bg-highlight);
}

/****** || To orient sticky footer *******/

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
    z-index: 2;
}

/****** || Modifications to Bootstrap Classes *******/

.card {
    background: var(--color-card-bg);
}

.card-deck>div>* {
    background: var(--color-card-bg);
}

.card-deck>div:hover {
    transform: scale(1.05);
}

.modal-content {
    background-image: url('/images/background-sky-light.webp');
    background-size: cover;

    @media (prefers-color-scheme: dark) {
        background-image: url('/images/background-sky-dark.webp');
    }
}

.table {
    color: var(--color-text);
}

/****** || Decoration for Gradient *******/

.bg-gradient {
    background: linear-gradient(to right, var(--color-pikachu), var(--color-charizard), var(--color-squirtle), var(--color-bulbasaur), var(--color-jigglypuff));
    animation: gradientAnimation 3s infinite alternate;
    background-size: 200% 200%;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 50%;
    }
}

/****** || Decoration for Star Ratings *******/

.checked {
    color: var(--color-pikachu);
}

.fa-star {
    cursor: pointer;
}

/****** || Decoration for Pokémon Types *******/

ul.type-list {
    list-style-type: none;
    padding-left: 0;
}

ul.type-list li {
    display: inline;
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;
    color: white;
    background-color: gray;
    text-transform: uppercase;
}

.poketype.bug {
    background-color: var(--color-poketype-bug);
}

.poketype.dark {
    background-color: var(--color-poketype-dark);
}

.poketype.dragon {
    background-color: var(--color-poketype-dragon);
}

.poketype.electric {
    background-color: var(--color-poketype-electric);
}

.poketype.fairy {
    background-color: var(--color-poketype-fairy);
}

.poketype.fighting {
    background-color: var(--color-poketype-fighting);
}

.poketype.fire {
    background-color: var(--color-poketype-fire);
}

.poketype.flying {
    background-color: var(--color-poketype-flying);
}

.poketype.ghost {
    background-color: var(--color-poketype-ghost);
}

.poketype.grass {
    background-color: var(--color-poketype-grass);
}

.poketype.ground {
    background-color: var(--color-poketype-ground);
}

.poketype.ice {
    background-color: var(--color-poketype-ice);
}

.poketype.normal {
    background-color: var(--color-poketype-normal);
}

.poketype.poison {
    background-color: var(--color-poketype-poison);
}

.poketype.psychic {
    background-color: var(--color-poketype-psychic);
}

.poketype.rock {
    background-color: var(--color-poketype-rock);
}

.poketype.steel {
    background-color: var(--color-poketype-steel);
}

.poketype.water {
    background-color: var(--color-poketype-water);
}


/****** || Animation for Footer ******/

.grass-background {
    position: relative;
    bottom: -150px;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url('/images/GrassPixelBackground.jpeg');
    background-size: contain;
    background-repeat: repeat-x;
}

/* Dark mode adjustment */
@media (prefers-color-scheme: dark) {
    .grass-background {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('/images/GrassPixelBackground.jpeg');
    }
}