.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.card-deck .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37, 33, 82, .12), 0 4px 8px rgba(37, 33, 82, .06);
}

.card-footer {
    background: #fbfafd;
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Press Start 2P', sans-serif;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: black;
    background-color: #ffde59;
    border-color: #ffde59;
    font-family: 'Creepster', cursive;
}

.btn-primary:hover {
    color: black;
    background-color: #ff9f10;
    border-color: #ff9f10;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 13px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url('https://github.com/Pj2811/bg-/blob/main/Exciscion%20(2).jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

p {
    font-family: 'Creepster', cursive;
}

h1 {
    font-family: 'Creepster', cursive;
}

ul {
    font-family: 'Creepster', cursive;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}

/*Backgrounds*/
:root {
    --color-pikachu: #FFCB05;
    --color-charizard: #FF3B30;
    --color-squirtle: #0099E1;
    --color-bulbasaur: #77B85B;
    --color-jigglypuff: #FFA6C9;
}

.bg-navbar {
    background: linear-gradient(to right, var(--color-pikachu), var(--color-charizard), var(--color-squirtle), var(--color-bulbasaur), var(--color-jigglypuff));
    animation: gradientAnimation 3s infinite alternate;
    background-size: 200% 200%;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 50%;
    }
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}

.clickable {
    cursor: pointer;
}

.poketitle {
    font-family: 'Press Start 2P', sans-serif;
}

ul.type-list {
    list-type: none;
    padding-left: 0;
}

ul.type-list li {
    display: inline;
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;
    font-family: sans-serif;
    color: white;
    background-color: gray;
    text-transform: uppercase;
}

.poketype.bug {
    background-color: #a8b820;
}

.poketype.dark {
    background-color: #705848;
}

.poketype.dragon {
    background-color: #7038f8;
}

.poketype.electric {
    background-color: #f8d030;
}

.poketype.fairy {
    background-color: #ee99ac;
}

.poketype.fighting {
    background-color: #c03028;
}

.poketype.fire {
    background-color: #f08030;
}

.poketype.flying {
    background-color: #a890f0;
}

.poketype.ghost {
    background-color: #705898;
}

.poketype.grass {
    background-color: #78c850;
}

.poketype.ground {
    background-color: #e0c068;
}

.poketype.ice {
    background-color: #98d8d8;
}

.poketype.normal {
    background-color: #a8a878;
}

.poketype.poison {
    background-color: #a040a0;
}

.poketype.psychic {
    background-color: #f85888;
}

.poketype.rock {
    background-color: #b8a038;
}

.poketype.steel {
    background-color: #b8b8d0;
}

.poketype.water {
    background-color: #6890f0;
}